@model IEnumerable<WebApplication2.Models.ApplicationUser>
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Users";
}
<div class="bg-blue">
    <div class="wrapper">
        <div class="menu">
            <ul class="menu__list-left">
                <li class="bg">
                    <div class="bg__common bg-red"></div>
                    <div class="bg__common bg-grey"></div>
                    <div class="bg__common bg-green"></div>
                </li>
            </ul>
            <ul class="menu__list-right">
                <li class="menu__login">@UserManager.GetUserName(User)</li>
                <li class="menu__exit"><a href="index.html" class="menu__exit-link">Log out</a></li>
            </ul>
        </div>
        <div class="modal_form">
            <span class="modal_close">X</span>
            Login: <input class="inputClear" type="text">
            Password: <input class="inputClear" type="text">
        </div>
        <div class="overlay"></div>
        <div class="content">
            <a class="create" asp-area="" asp-controller="Account"asp-action="Register">Create</a>
            @{int i = 0; }
            @foreach (var item in Model.OrderBy(x => x.UserName))
            {@if (!(item.UserName == "admin"))
            {
            <div class="user-item">
                <div class="user__number">@(i + 1)</div>
                @{i++;}
                <div class="other-info">
                    <div class="inf">
                        <div class="user__login">@Html.DisplayFor(modelItem => item.UserName)</div>
                        <div class="user__password">@Html.DisplayFor(modelItem => item.Password)</div>
                    </div>
                    <div class="remake">
                        <a class="user__update" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <form asp-action="Delete" asp-route-id="@item.Id"><input class="user__delete" type="submit" value="Delete" />  </form>
                    </div>
                </div>
            </div>}
           }
        </div>
    </div>
</div>


