<script src="~/js/common.js"></script>
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Identity
@model WebApplication2.Models.Requests.List
@{
    ViewData["Title"] = "List";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>

<div class="bg-blue">
    <div class="wrapper">
        <div class="menu">
            <ul class="menu__list-left">
                <li class="bg">
                    <div class="bg__common bg-red"></div>
                    <div class="bg__common bg-grey"></div>
                    <div class="bg__common bg-green"></div>
                </li>
                @if (User.IsInRole(ApplicationRoles.Administrators))
                {
                    <li class="user"><a asp-area="" asp-controller="ApplicationUsers" asp-action="Index">Users</a></li>
                    <li class="user"><a asp-area="" asp-controller="Universities" asp-action="Index">Universities</a></li>
                }
            </ul>
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                <ul class="menu__list-right">
                    <li class="menu__login">@UserManager.GetUserName(User)</li>
                    <li class="menu__exit">
                        <button type="submit" class="menu__exit-link">
                            Log out
                        </button>
                    </li>
                </ul>
                </form>
        </div>
        <div class="catalog">
            <div class="left-part">
                <div class="diagrams">
                    <div class="diagr">
                        <div id="sparkline"></div>
                    </div>
                    <ul class="source">
                        <li class="source__item">VK: <div class="percent percent-vk">@ViewBag.vkp % <span class="count">(@ViewBag.vkc com.)</span></div></li>
                        <li class="source__item">Gazeta: <div class="percent percent-fb">@ViewBag.gazetap % <span class="count">(@ViewBag.gazetac com.)</span></div></li>
                        <li class="source__item">Regnum: <div class="percent percent-inst">@ViewBag.regnump % <span class="count">(@ViewBag.regnumc com.)</span></div></li>
                        <li class="source__item">Vesti: <div class="percent percent-twitter">@ViewBag.vestip % <span class="count">(@ViewBag.vestic com.)</span></div></li>
                        <li class="source__item">Professor.Org: <div class="percent percent-twitter">@ViewBag.profp % <span class="count">(@ViewBag.profc com.)</span></div></li>
                        <li class="source__item">News.ru: <div class="percent percent-twitter">@ViewBag.newsp % <span class="count">(@ViewBag.newsc com.)</span></div></li>
                        <li class="source__item">Twitter: <div class="percent percent-twitter">@ViewBag.twitp % <span class="count">(@ViewBag.twitc com.)</span></div></li>
                        <li class="source__item">RIA: <div class="percent percent-twitter">@ViewBag.riap % <span class="count">(@ViewBag.riac com.)</span></div></li>
                    </ul>
                    <div class="diagr">
                        <div id="sparkline2"></div>

                    </div>
                    <ul class="emotion-color">
                        <li class="ec__item">Negative: <div class="percent percent-negative">@ViewBag.negativep % <span class="count">(@ViewBag.negativec)</span></div></li>
                        <li class="ec__item">Neutral: <div class="percent percent-neutral">@ViewBag.neutralp % <span class="count">(@ViewBag.neutralc)</span></div></li>
                        <li class="ec__item">Positive: <div class="percent percent-positive">@ViewBag.positivep % <span class="count">(@ViewBag.positivec)</span></div></li>
                        <li class="ec__item">Undefined: <div class="percent percent-uncertain">@ViewBag.uncertainp % <span class="count">(@ViewBag.uncertainc)</span></div></li>
                    </ul>
                </div>
                @if (Model.Posts.Count == 0) {
                    <h2>No results</h2>
                 }
                <ul class="list">
                    @foreach (var item in Model.Posts)
                    {
                    <li class="list__item">
                        <div class="comment">
                            <div class="list__author">@Html.DisplayFor(modelItem => item.ownersName)</div>
                            <p class="list__text">@Html.DisplayFor(modelItem => item.text)</p>
                            <a href=@item.link class="list__link">@item.source</a>
                        </div>
                        <div class="coloring">
                            @if (item.emo == 0)
                            { <div class="coloring__main">
                                <div class="plus"></div>
                            </div>
                            <div class="other">
                                <div class="other__item"><div class="minus"></div></div>
                                <div class="other__item"><div class="mult"></div></div>
                                <div class="other__item"><div class="hooks"></div></div>
                            </div>}
                            @if (item.emo == 1)
                            { <div class="coloring__main">
                                <div class="minus"></div>
                            </div>
                            <div class="other">
                                <div class="other__item"><div class="plus"></div></div>
                                <div class="other__item"><div class="mult"></div></div>
                                <div class="other__item"><div class="hooks"></div></div>
                            </div>}
                            @if (item.emo == 2)
                            { <div class="coloring__main">
                                <div class="mult"></div>
                            </div>
                            <div class="other">
                                <div class="other__item"><div class="plus"></div></div>
                                <div class="other__item"><div class="minus"></div></div>
                                <div class="other__item"><div class="hooks"></div></div>
                            </div>}
                            @if (item.emo == 3)
                            { <div class="coloring__main">
                                <div class="hooks"></div>
                            </div>
                            <div class="other">
                                <div class="other__item"><div class="plus"></div></div>
                                <div class="other__item"><div class="minus"></div></div>
                                <div class="other__item"><div class="mult"></div></div>
                                
                            </div>}
                            
                        </div>

                    </li>
                    }
                    
                </ul>
                <div class="footer-buttons">
                    @if (Model.filtered)
                    {<div class="fbutton ">Export</div>}
                    <a asp-area="" asp-controller="Request" asp-action="Choose" class="fbutton again">Start over</a>
                </div>
            </div>
            <div class="arrow">
                <img src="~/images/left.png" alt="">
            </div>
            <div class="right-part">
                <form  asp-area="" class="filters" asp-controller="Request" asp-action="Filtered" method="post">
                    <input type="hidden" asp-for="Query">
                    <input asp-for="filtered" type="hidden">
                    <input name="Posts" asp-for="Posts" type="hidden" >
                    <div class="filters__title">Filters</div>
                    <div class="filters__item audience">
                        <h3 class="title">The target audience</h3>
                        <div class="aud__checkboxes dropdown">
                            <div class="audience__checkbox">
                                <input asp-for="employee" type="checkbox" id="employees" name="employee">
                                <label for="employees">Employees</label>
                            </div>
                            <div class="audience__checkbox">
                                <input asp-for="student" type="checkbox" id="students" name="student">  
                                <label for="students">Students</label>
                            </div>
                            <div class="audience__checkbox">
                                <input asp-for="abitur" type="checkbox" id="abiturients" name="abiturient">
                                <label for="abiturients">Abiturients</label>
                            </div>
                            <div class="audience__checkbox">
                                <input asp-for="grad" type="checkbox" id="graduates" name="graduate"> 
                                <label for="graduates">Graduates</label>
                            </div>
                            <div class="audience__checkbox">
                                <input asp-for="employer" type="checkbox" id="employers" name="employer"> 
                                <label for="employers">Employers</label>
                            </div>
                        </div>
                    </div>
                    <div class="filters__item nickname">
                        <h3 class="title">Nickname</h3>
                        <input asp-for="nickname" name="Nickname" class="dropdown" type="text" placeholder="Nickname">
                    </div>
                    <div class="filters__item emotions" name="uncertain">
                        <h3 class="title">Emotional colouring </h3>
                        <div class="em__checkboxes dropdown">
                            <div class="emotions__checkbox">
                                <input asp-for="positive" type="checkbox" id="positive" name="Positive">
                                <label for="positive">Positive (+)</label>
                            </div>
                            <div class="emotions__checkbox">
                                <input asp-for="negative" type="checkbox" id="negative" name="Negative">
                                <label for="negative">Negative (-)</label>
                            </div>
                            <div class="emotions__checkbox">
                                <input asp-for="neutral" type="checkbox" id="neutral" name="Neutral">
                                <label for="neutral">Neutral (*)</label>
                            </div>
                            <div class="emotions__checkbox">
                                <input asp-for="uncertain" type="checkbox" id="uncertain" name="Uncertain">
                                <label for="uncertain">Undefined (<>)</label>
                            </div>
                        </div>
                    </div>
                    <div class="filters__item keywords">
                        <h3 class="title">Key words</h3>
                        <input asp-for="key" name="Key" class="dropdown ss" type="text" placeholder="Key words">
                    </div>
                    <div class="filters__item data">
                        <h3 class="title">Time interval</h3>
                        <div class="interval dropdown">
                            <div class="from">
                                <label for="from">From: </label>
                                <input asp-for="data1" type="date" id="from" name="Data1" >
                            </div>
                            <div class="to">
                                <label for="to">To: </label>
                                <input asp-for="data2" type="date" id="to" name="Data2" >
                            </div>
                        </div>
                    </div>
                    <div class="filters__button">
                        <input type="reset" class="fil-b reset">
                        <button type="submit" class="fil-b submit">Accept</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
 // Это в конец вьюшки List

          var values = [@ViewBag.vkc,@ViewBag.gazetac, @ViewBag.regnumc, @ViewBag.vestic, @ViewBag.profc, @ViewBag.newsc, @ViewBag.twitc, @ViewBag.riac]; // сюда значения

            $('#sparkline').sparkline(values, {
                type: "pie",
                width: '129',// можно подогнать, если нужно
                height: '129',

                tooltipFormat: '{{offset:offset}} ({{percent.1}}%)',
                tooltipValueLookups: {
                    'offset': { // имена
                        0: 'vk',
                        1: 'gazeta',
                        2: 'regnum',
                        3: 'vesti',
                        4: 'professor.org',
                        5: 'news',
                        6: 'twitter',
                        7: 'ria'
                    }
                }
            });
            var values2 = [@ViewBag.positivec, @ViewBag.negativec, @ViewBag.neutralc, @ViewBag.uncertainc];

            $('#sparkline2').sparkline(values2, {
                type: "pie",
                width: '129',
                height: '129',

                tooltipFormat: '{{offset:offset}} ({{percent.1}}%) ',
                tooltipValueLookups: {
                    'offset': {
                        0: 'positive',
                        1: 'negative',
                        2: 'neutral',
                        3: 'uncertain'
                    }
                }
            });

</script>
<style>
    #jqstooltip {
        box-sizing: initial;
    }
</style>