@model IEnumerable<WebApplication2.Models.University>
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Universities";
}
<div class="bg-blue">
    <div class="main-wrapper">
        <div class="menu">
            <ul class="menu__list-left">
                <li class="bg">
                    <div class="bg__common bg-red"></div>
                    <div class="bg__common bg-grey"></div>
                    <div class="bg__common bg-green"></div>
                </li>
            </ul>
            <ul class="menu__list-right">
                <li class="menu__login">@UserManager.GetUserName(User)</li>
                <li class="menu__exit"><a href="index.html" class="menu__exit-link">Log out</a></li>
            </ul>
        </div>
        <div class="modal_form">
            <span class="modal_close">X</span>
            Login: <input class="inputClear" type="text">
            Password: <input class="inputClear" type="text">
        </div>
        <div class="overlay"></div>
        <div class="content">
            <a class="create" asp-area="" asp-controller="Universities" asp-action="Create">Create</a>
            @{int i = 0; }
            @foreach (var item in Model.OrderBy(x => x.Title))
            {
            
                <div class="user-item">
                    <div class="user__number">@(i + 1)</div>
                    @{i++;}
                    <div class="other-info">
                        <div class="inf">
                            <div class="user__login">@Html.DisplayFor(modelItem => item.Title)</div>
                            <a class="user__update" asp-action="Index" asp-controller="Faculties" asp-route-UniversityId="@item.Id">Faculties</a>
                        </div>
                        <div class="remake">
                            <a class="user__update" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <form  asp-action="Delete" asp-route-id="@item.Id"><input class="user__delete" type="submit"  value="Delete"/>  </form>
                        </div>
                    </div>
                </div>
                        }
        </div>
    </div>
</div>

@*

    @{
        ViewData["Title"] = "Index";
    }

    <h2>Index</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
*@